.main {
    display: flex;
    width: 75%;
    height:30em;
    margin: auto;
    margin-top: 5em;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.panel {
    display: inline-flex;
    width: 75%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.typing-area {
    width: 75%;
    height: 100px;
    border-radius: 15px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 0px 30px -10px black;
}

.timer {
    display: flex;
    border: 5px solid rgb(255, 3, 3);
    width: 7em;
    height: 7em;
    border-radius: 100px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 254, 254);
}

.time-value {
    font-size: 3rem;
    font-weight: bold;
    height: 60px;
}

.time-units {
    font-size: 1rem;
    font-weight: bold;
}

.speed-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6em;
    height: 6em;
    border-radius: 20px;
    border: 5px solid orange;
    background-color: rgb(255, 254, 254);
}

.speed-value {
    font-size: 3rem;
    font-weight: bold;
    height:60px;
}

.speed-units {
    font-size: 1rem;
    font-weight: bold;
}

.accuracy-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6em;
    height: 6em;
    border-radius: 20px;
    border: 5px solid orange;
    background-color: rgb(255, 254, 254);
}

.accuracy-value {
    font-size: 3rem;
    font-weight: bold;
    height:60px;
}

.accuracy-units {
    font-size: 1rem;
    font-weight: bold;
}

.text {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: cursive;
}

*:focus {
    outline: none;
}